{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Free Ebooks</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'free_ebooks/css/bootstrap.min.css' %}">
       <script src="{% static 'free_ebooks/css/bootstrap.min.js' %}"></script>
       <link rel=:stylesheet" href="{% static 'free_ebooks/css/bootstrap-theme.min.css' %}">
         <link rel="stylesheet" href="{% static 'free_ebooks/css/custom.css' %}">
    <style type="text/css">
        .btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#34ca78;
    border-color: #34ca78;
}
 h2{color:#34ca78;}
 .margin10{margin-bottom:10px; margin-right:10px;}
    </style>
</head>
<body>
<nav class="navbar navbar-inverse"><!-- start navigation bar -->
  <div class="container-fluid"><!-- start container fluid of nav -->
    <div class="navbar-header"><!-- start navbar header -->
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
      <a class="navbar-brand" href="{% url 'free_ebooks:index' %}">Free-Ebooks</a>
    </div>
    <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'free_ebooks:add_ebooks1'%}"><span class="glyphicon glyphicon-book">&nbspAdd-Ebooks</span></a></li>
                   <!-- <li><a href="#}"><span class="glyphicon glyphicon-music">&nbspunder-working</span></a></li>-->
                </ul>
                <ul class="nav navbar-collapse navbar-right">
                    {% if user.is_authenticated %}
                    <script>function changetext(obj,text){ obj.innerText=text;}</script>
                    <a href="{% url 'logout' %}" > <li><button class="btn btn-success navbar-btn" ><div onmouseover="changetext(this,'logout')" onmouseout="changetext(this,'{{user.username}}')">{{user.username}}</div></button></li></a>

                    {% else %}
                    <a href="{% url 'social:begin' 'google-oauth2' %}"><li><button class="btn btn-danger navbar-btn">Login with google</button></li></a>
                    {% endif %}
                </ul>
        <!-- add something in right
            <ul class="nav navbar-collapse navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in">Login</span></a> </li>
            </ul>
               end add something in right -->
    </div>
  </div><!-- end container fluid of nav -->
</nav><!-- end nevigation bar -->

{% block index %}

{% endblock %}
{% block add_free_ebooks %}
{% endblock %}





</body>
</html>