{% extends 'start/header.html' %}

{% block index %}
<!-- all four here -->
<div class="container mt-4">
  <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">Ondemandservices</h2>
  <p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4"> Use Online services
    <span class="color-primary">free of cost.</span> Yep, it's that simple</p>
  <div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-4">
    <div class="text-center card-block">
      <span class="ms-icon ms-icon-circle ms-icon-xxlg color-info">
        <i class="glyphicon glyphicon-book"></i>
      </span>
      <h4 class="color-info">Free-Ebooks</h4>
      <p class="">Download free Technologies Ebook's , <br>Just in one click. </p><br>
      <a href="javascript:void(0)" class="btn btn-info btn-raised">Download</a>
    </div>
  </div>
  <div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-8">
    <div class="text-center card-block">
      <span class="ms-icon ms-icon-circle ms-icon-xxlg color-warning">
        <i class="glyphicon glyphicon-camera"></i>
      </span>
      <h4 class="color-warning">Image-Resizer</h4>
      <p class="">Resize your images in custom's Dimensions.<br>Just in one cick</p><br>
      <a href="javascript:void(0)" class="btn btn-warning btn-raised">Resize now</a>
    </div>
  </div>
  <div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-10">
    <div class="text-center card-block">
      <span class="ms-icon ms-icon-circle ms-icon-xxlg color-success">
        <i class="glyphicon glyphicon-envelope"></i>
      </span>
      <h4 class="color-success">Email-Sender</h4>
      <p class="">Send 150 Email's in one minute [.txt based] <br> just in one click</p><br>
      <a href="javascript:void(0)" class="btn btn-success btn-raised">Ready to send</a>
    </div>
  </div>
  <div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-6">
    <div class="text-center card-block">
      <span class="ms-icon ms-icon-circle ms-icon-xxlg  color-danger">
        <i class="glyphicon glyphicon-th"></i>
      </span>
      <h4 class="color-danger">Expert at your reach</h4>
      <p class="">Make resume in a smart way and download immediatly<br> [formate-pdf] <br> Just in one click.</p>
      <a href="javascript:void(0)" class="btn btn-danger btn-raised">Make my resume</a>
    </div>
  </div>
</div>
<!-- end all four here -->
<footer>
    <div class="footer">
    <a href="#">Home</a>
    <a href="#"> Policy</a>
    <a href="#"> Disclaimer</a>
    <a href="#"> Term of use</a>
        <a href="#">admin</a></>



</div>



</footer>




{% endblock %}
